<a href="https://colab.research.google.com/github/TheiCloud/Studies_new/blob/main/task3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Двумерные массивы (матрицы): группа Matrix

ВАРИАНТ 10

1.	Сколько элементов массива превосходят по модулю заданное число А.

In [ ]:
A = int(input("Enter A: "))

mas = [1,10, 6]

def el_greater_value(mas):
    i = 0
    for e in mas:
      if e > A:
        i+=1
    return i


print(el_greater_value(mas))

Enter A: 6
1

2.	Дан целочисленный массив размера N. Вывести вначале все содержащиеся в данном массиве четные числа в порядке возрастания их индексов, а затем — все нечетные числа в порядке убывания их индексов.

In [ ]:
mas = [333, 2,4,5,7,7,8,3,1,3,6,53,2,3]

def show_mas_inverse(mas):
  for i in range(len(mas)):
    if mas[i] % 2 == 0: print(mas[i], end = ", ")
  for i in range( len(mas)-1, -1, -1):
    if mas[i] % 2 ==1:
      if i == 0: print(mas[i])
      else: print(mas[i], end = ", ")


show_mas_inverse(mas)

2, 4, 8, 6, 2, 3, 53, 3, 1, 3, 7, 7, 5, 333

3. Дан массив размера N и целое число K (1 <=K < N). Осуществить сдвиг элементов массива влево на K позиций (при этом AN перейдет в AN–K, AN–1 — в AN–K–1, …, AK+1 — в A1, а исходное значение K первых элементов будет потеряно). Последние K элементов полученного массива положить равными 0.

In [ ]:
mas = [333, 2,4,5,7,7,8,3,1,3,6,53,2,3]

def shift_mas(mas, value):
  for i in range(len(mas)):
    if i+value >=len(mas): mas[i] = 0
    else: mas[i] = mas[i+value]

shift_mas(mas, 5)
print(mas)

[7, 8, 3, 1, 3, 6, 53, 2, 3, 0, 0, 0, 0, 0]

4.	Дан целочисленный двумерный массив, размерности n х m. Выяснить, в какой строке последовательность является возрастающей или убывающей

In [ ]:
mas = [
    [1, 3, 5, 67],
    [2, 45, 46, 88],
    [1, 4, 5, 3],
    [90, 76, 22, 2]
]

def increasing_mas(mas):
  for i in range(len(mas)-1):
    if mas[i] > mas[i+1]:
      return False
  return True

def decreasing_mas(mas):
  for i in range(len(mas)-1):
    if mas[i] < mas[i+1]:
      return False
  return True


def trend_str(mas):
  for i in range(len(mas)):
    if increasing_mas(mas[i]) : print(f"in line {i} the sequence is increasing")
    elif decreasing_mas(mas[i]) : print(f"in line {i} the sequence is decreasing")




trend_str(mas)

in line 0 the sequence is increasing
in line 1 the sequence is increasing
in line 3 the sequence is decreasing

DICTIONARIES

1. Подсчет частоты слов: Напишите функцию, которая принимает строку и возвращает словарь, где ключи — это слова, а значения — их частота в строке.

In [ ]:
row = "yuie rjvir rniv irtnvoiro vorov rinov rinov nvro rniv rniv yuie"

def word_frequency(row):
  dictionary = {};
  list_of_words = row.split()
  for i in list_of_words:
    if i in dictionary:
      dictionary[i] +=1
    else:
      dictionary[i] = 1
  return dictionary

print(word_frequency(row))

{'yuie': 2, 'rjvir': 1, 'rniv': 3, 'irtnvoiro': 1, 'vorov': 1, 'rinov': 2, 'nvro': 1}

2. Инвертирование словаря: Напишите функцию, которая принимает словарь и возвращает новый словарь, где ключи и значения поменяны местами. Если значения не уникальны, объедините ключи в список.

In [ ]:
dictionary = {"lenght": 23, "width" :23, "height" : 40, "rnuricjri" : 23}


def swapkeys(dictt):
  new_dict = {}
  for key, value in dictt.items():
    if value in new_dict:
      if type(new_dict[value]) == list:
        new_dict[value].append(key)
      else:
        new_dict[value] = [new_dict[value], key]
    else:
      new_dict[value] = key
  return new_dict

print(swapkeys(dictionary))

#Через подсчитку значений надр делать, и если больше двух то мы просто создаем массивчик

{23: ['lenght', 'width', 'rnuricjri'], 40: 'height'}

3.Слияние словарей: Напишите функцию, которая принимает два словаря и возвращает новый словарь, содержащий все ключи из обоих словарей. Если ключи совпадают, значения должны быть суммированы.

In [ ]:
dict1 = {"e": 56, "hr": 78, "gender": "man", "t":67, "fk": False}
dict2 = {"e": 75, "hr": 76, "f": True}

def funct(dict1, dict2):
  copy_dict1 = dict1.copy()
  for key, value in dict2.items():
    if key in copy_dict1:
      copy_dict1[key]+=value
    else:
      copy_dict1[key] = value
  return copy_dict1

result = funct(dict1, dict2)
print(result)

{'e': 131, 'hr': 154, 'gender': 'man', 't': 67, 'fk': False, 'f': True}

4. Фильтрация по значению: Напишите функцию, которая принимает словарь и пороговое значение, и возвращает новый словарь, содержащий только те пары ключ-значение, где значение больше порогового.

In [ ]:
dict1 = {"age": 75, "height": 196, "musculs, kg": 70, "weight": 95 }
threshold = int(input("Enter threshold value"))

def filter_by_value(diction, value):
  new_dict = {}
  for key, dvalue in diction.items():
    if dvalue > value:
      new_dict[key] = dvalue
  return new_dict

print(filter_by_value(dict1, threshold))

Enter threshold value90
{'height': 196, 'weight': 95}

5. Максимальное значение: Напишите функцию, которая находит ключ с максимальным значением в словаре.

In [ ]:
dict1 = {"age": 75, "height": 196, "musculs, kg": 70, "weight": 95, "best height":196 }

def key_max_value(dict):
  keys = []
  max_value = max(dict.values())
  for key in dict:
    if dict[key] == max_value:
      keys.append(key)

  return keys

print(key_max_value(dict1))

['height', 'best height']

6. Минимальное значение: Напишите функцию, которая находит ключ с минимальным значением в словаре.

In [ ]:
dict1 = {"age": 75, "height": 196, "musculs, kg": 70, "weight": 95, "best height":196 }

def key_min_value(dict):
  keys = []
  min_value = min(dict.values())
  for key in dict:
    if dict[key] == min_value:
      keys.append(key)

  return keys

print(key_min_value(dict1))

['musculs, kg']

7. Удаление ключей: Напишите функцию, которая принимает словарь и список ключей, и удаляет из словаря все указанные ключи.

In [ ]:
dict1 = {"age": 75, "height": 196, "musculs, kg": 70, "weight": 95, "best height":196 }
keys_for_del = ["best height", "musculs, kg"]

def del_keys(dict, keys):
  dict11 = dict.copy()
  for key in keys:
    if key in dict11:
      del dict1[key]

del_keys(dict1, keys_for_del)
print(dict1)

{'age': 75, 'height': 196, 'weight': 95}

8. Группировка по длине ключей: Напишите функцию, которая группирует ключи словаря по их длине и возвращает словарь, где ключи — это длины, а значения — списки ключей соответствующей длины.

In [ ]:
dict1 = {"age": 75, "height": 196, "musculs, kg": 70, "weight": 95, "best height":196 }

def grouping_by_len(dict):
  new_dict = {}
  for key, value in dict.items():
    if value in new_dict:
      if isinstance(new_dict[value], list):
        new_dict[value].append(key)
      else:
        new_dict[value] = [new_dict[value], key]
    else:
      new_dict[value] = key
  return new_dict

print(grouping_by_len(dict1))

{75: 'age', 196: ['height', 'best height'], 70: 'musculs, kg', 95: 'weight'}

9. Поиск ключей по значению: Напишите функцию, которая принимает словарь и значение, и возвращает список всех ключей, связанных с этим значением.

In [ ]:
dict1 = {"age": 75, "height": 196, "musculs, kg": 70, "weight": 95, "best height":196 }

def search_key_by_value(dict, search_value):
  keys = []
  for key, value in dict.items():
    if value == search_value:
      keys.append(key)
  return(keys)

print(search_key_by_value(dict1, 196))

['height', 'best height']

10. Объединение значений: Напишите функцию, которая принимает два словаря и объединяет их значения в списки для каждого ключа.

In [ ]:
dict1 = {"age": 75, "height": 196, "musculs, kg": 70, "weight": 95, "best height":196 }
dict2 = {"age": 45, "height": 176, "musculs, kg": 50, "weight": 76, "best height":178, "good man": False }

def association_of_dict(dict1, dict2):
  new_dict = dict1.copy()
  for key, value in dict2.items():
    if key in new_dict:
      if isinstance(new_dict[key], list):
        new_dict[key].append(value)
      else:
        new_dict[key] = [new_dict[key], value ]
    else:
      new_dict[key] = value

  return new_dict

print(association_of_dict(dict1, dict2))

{'age': [75, 45], 'height': [196, 176], 'musculs, kg': [70, 50], 'weight': [95, 76], 'best height': [196, 178], 'good man': False}

SETS

1.  Создание множества из списка: Напишите функцию, которая принимает список и возвращает множество, содержащее уникальные элементы списка.

In [ ]:
list_of_numbers = [2,5,6,7,5,3,2,2,5,7,4,4,44,4,6,7,4,1]

def create_set(list1):
  set_of_numbers = set(list1)
  return set_of_numbers

print(list_of_numbers)
print(create_set(list_of_numbers))

[2, 5, 6, 7, 5, 3, 2, 2, 5, 7, 4, 4, 44, 4, 6, 7, 4, 1]
{1, 2, 3, 4, 5, 6, 7, 44}

2. Удаление дубликатов: Напишите функцию, которая удаляет дубликаты из списка с помощью множества и возвращает новый список.

In [ ]:
list_of_numbers = [2,5,6,7,5,3,2,2,5,7,4,4,44,4,6,7,4,1]

def remove_dubl(list1):
  return list(set(list1))

print(remove_dubl(list_of_numbers))

[1, 2, 3, 4, 5, 6, 7, 44]

3. Пересечение множеств: Напишите функцию, которая принимает два множества и возвращает их пересечение.

In [ ]:
set1 = {1,2,3}
set2 ={1,2,5}

def intersection_of_sets(set1, set2):
  return set1.intersection(set2)

print(intersection_of_sets(set1,set2))

{1, 2}

4. Объединение множеств: Напишите функцию, которая принимает два множества и возвращает их объединение.

In [ ]:
set1 = {1,2,3}
set2 ={1,2,5}

def association_of_sets(set1, set2):
  return set1.union(set2)

print(association_of_sets(set1, set2))

{1, 2, 3, 5}

5. Разность множеств: Напишите функцию, которая принимает два множества и возвращает разность первого множества и второго.

In [ ]:
set1 = {1,2,3}
set2 ={1,2,5}

def difference_of_sets(set1, set2):
  return set1.difference(set2)
  # or we can use: return(set1 - set2)

print(difference_of_sets(set1, set2))

{3}

6. Симметрическая разность: Напишите функцию, которая принимает два множества и возвращает их симметрическую разность.

In [ ]:
set1 = {1,2,3}
set2 ={1,2,5}

def symmetric_difference_of_sets(set1, set2):
  return set1.symmetric_difference(set2)
  #or we can use: return (set1 ^ set2)


print(symmetric_difference_of_sets(set1, set2))

{3, 5}

7. Проверка подмножества: Напишите функцию, которая проверяет, является ли одно множество подмножеством другого.

In [ ]:
set1 = {1,2,3,5}
set2 ={1,2,5,3,7}

def issubset_of_sets(set1, set2):
  return set1.issubset(set2)

print(issubset_of_sets(set1, set2))

True

8. Проверка надмножества: Напишите функцию, которая проверяет, является ли одно множество надмножеством другого.

In [ ]:
set1 = {1,2,3,5,7,8,9,10}
set2 ={1,2,5,3,7}

def issuperset_of_sets(set1, set2):
  return set1.issuperset(set2)

print(issuperset_of_sets(set1, set2))

True

9. Добавление элементов: Напишите функцию, которая добавляет все элементы из списка в множество.

In [ ]:
set1 = {1,2,3,5,7,8,9,10}
list1 = [4, 12, 34, 1, 2]

def add_elements(set1, list1):
  return set(list(set1)+list1)

print(add_elements(set1, list1))

{1, 2, 3, 4, 5, 34, 7, 8, 9, 10, 12}

10. Удаление элементов: Напишите функцию, которая удаляет из множества все элементы, присутствующие в списке.

In [ ]:
set1 = {1,2,3,5,7,8,9,10}
list1 = [4, 12, 34, 1, 2]

def remove_elements(set1, list1):
  return set1 - set(list1)

print(remove_elements(set1, list1))

{3, 5, 7, 8, 9, 10}

TUPLES

1. Создание кортежа из списка: Напишите функцию, которая принимает список и возвращает кортеж, содержащий те же элементы.

In [ ]:
list1 = [4, 12, 34, 1, 2]

def create_tuple(list1):
  return tuple(list1)

print(create_tuple(list1))

(4, 12, 34, 1, 2)

2. Объединение кортежей: Напишите функцию, которая принимает два кортежа и возвращает их объединение.

In [ ]:
tuple1 = (1,3)
tuple2 = (3, 6)

def association_of_tuples(tup1, tup2):
  return tup1 + tup2

print(association_of_tuples(tuple1, tuple2))

(1, 3, 3, 6)

3. Проверка на наличие элемента: Напишите функцию, которая проверяет, содержится ли заданный элемент в кортеже.

In [ ]:
tup1 = (1,2,3,4,5,6,7,8,9)

def value_in_the_tuple(tup1, value):
  return value in tup1

print(value_in_the_tuple(tup1, 9))

True

4. Индекс первого вхождения: Напишите функцию, которая находит индекс первого вхождения заданного элемента в кортеже.

In [ ]:
tup1 = (1,2,3,4,5,6,7,8,9)

def get_first_index_for_value(tup1, value):
  for i in range(len(tup1)):
    if tup1[i] == value: return i
  return False

print(get_first_index_for_value(tup1, 1))

0

5. Количество вхождений элемента: Напишите функцию, которая подсчитывает, сколько раз заданный элемент встречается в кортеже.

In [ ]:
tup1 = (1,2,3,4,5,6,7,8,9,1)

def get_count_for_value(tup1, value):
  return tup1.count(value)

print(get_count_for_value(tup1, 1))

2

6. (9)Разбиение кортежа: Напишите функцию, которая разбивает кортеж на две части: первую половину и вторую половину.

In [ ]:
tup1 = (1,2,3,4,5,6,7,8,9,)

def split_tuple(tup1):
  index = len(tup1)//2
  return (list(tup1[:index]), list(tup1[index :]))

print(split_tuple(tup1))

([1, 2, 3, 4], [5, 6, 7, 8, 9])

7. (21)Вложенные кортежи: Напишите функцию, которая создает вложенный кортеж, где первый уровень — это буквы алфавита, а второй уровень — числа от 1 до 5.

In [ ]:
def create_nested_tuple():
    letters = tuple('abcdefghijklmnopqrstuvwxyz')
    numbers = tuple(range(1, 6))
    return tuple((letter, numbers) for letter in letters)

nested_tuple = create_nested_tuple()
print(nested_tuple[:10])

(('a', (1, 2, 3, 4, 5)), ('b', (1, 2, 3, 4, 5)), ('c', (1, 2, 3, 4, 5)), ('d', (1, 2, 3, 4, 5)), ('e', (1, 2, 3, 4, 5)), ('f', (1, 2, 3, 4, 5)), ('g', (1, 2, 3, 4, 5)), ('h', (1, 2, 3, 4, 5)), ('i', (1, 2, 3, 4, 5)), ('j', (1, 2, 3, 4, 5)))

8. (22)Развертывание вложенного кортежа: Напишите функцию, которая разворачивает вложенный кортеж в плоский кортеж.

In [ ]:
def flat_tuple(tupl):
  a = []
  for i in tupl:
    if isinstance(i, tuple):
      a.extend(flat_tuple(i))
    else:
      a.append(i)
  return tuple(a)


b = (1, 2, 3, (4, 5, (4,6,6), 6), 7 , (4,7))
print(flat_tuple(b))

(1, 2, 3, 4, 5, 4, 6, 6, 6, 7, 4, 7)

9. Перевод кортежа в строку: Напишите функцию, которая преобразует кортеж строк в одну строку, объединяя их через пробел.

In [ ]:
def tuple_to_str(tupl):
  return " ".join(tupl)

tup1= ("leddd", "dedede ccc", "ed")
print(tuple_to_str(tup1))

leddd dedede ccc ed

10. (27)Кортеж с нечетными числами: Напишите функцию, которая создает кортеж, содержащий только нечетные числа из заданного диапазона.

In [ ]:
import math

def simple_tuple(f, t):

  def simple(value):
    if value <= 1:
      return False
    if value == 2:
      return True
    for i in range(2, int(math.sqrt(value))+1):
      if value % i == 0:
        return False
    return True

  a = []
  for i in range(f, t):
    if simple(i):
      a.append(i)
  return tuple(a)


print(simple_tuple(0,50))

(2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47)